/* Style for the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f8f9;
  color: #000000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.sign-in-button {
  background: black;
  color: #fff;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.sign-in-button:hover{
  background: rgb(121, 49, 16);
}
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Slightly darkens the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures it's on top of other content */
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  width: 400px; /* Set the width of the modal */
  max-width: 90%; /* Ensures it doesn't stretch too much on small screens */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.close-button:hover {
  color: #007bff;
}
